@import "_mixin";
@import "_toolset";

.container{
    max-width: 1200px;
    min-width: 320px;
}


#conteudo{

}

@media(max-width: 991px){
    //Tablet
    #conteudo{

    }
}

@media(max-width: 479px){
    //Celular
    #conteudo{

    }
}