<?php

$this->display('header', array(''));
?>
    <h2 class="titulo-paginas">Fale Conosco</h2>
    <form data-controller="form" action="/teste.php" method="POST" class="formulario-fale-conosco span-6" data-upload="/upload">
        <input class="box-input" type="text" name="nome" placeholder="Nome" value="<?= @$_POST['nome'] ?>" required/>
        <input class="box-input" type="text" name="email" placeholder="E-mail" required/>  
        <input class="box-input" type="tel" name="telefone" placeholder="Telefone" required/>
        <textarea class="box-area" name="mensagem" placeholder="Mensagem" required></textarea><br>
		<div class="file-uploader" id="nomefiletemp-uploaded" data-name="nomefiletemp" data-text="<span class='label'>UPLOAD DE ARQUIVO</span>"></div>
        <span class="feedback"></span>
        <button class="btn-enviar hover-principal">ENVIAR <span>MENSAGEM</span></button>
    </form>
   
<?php

$this->display('footer', array(''));