<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <?php echo meta(); ?>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="HandheldFriendly" content="true">
        <meta name="MobileOptimized" content="width">
        <link type="text/plain" rel="author" href="/humans.txt" />
        <link href='/css/styles.css<?= isset($_SESSION['cacheoff']) ? '?' . date('mdHis') : NULL; ?>' rel='stylesheet' type='text/css'>
        <script src="/js/browserup.js" async defer></script>
        <!--[if lt IE 9]>
            <script src="/js/html5.js" defer></script>
            <script src="/js/respond.js" defer></script>
        <![endif]-->
    </head>
    <?php flush(); ?>
    <body>
        <noscript>
        Para completa funcionalidade deste site é necessário habilitar o JavaScript.
        Aqui estão as <a href="http://www.enable-javascript.com/pt/" target="_blank">
            instruções de como habilitar o JavaScript no seu navegador</a>.
        </noscript>
        <header>
            <nav>
                <ul>
                    <li>
                        <a href="/">HOME</a>
                    </li>
                    <li>
                        <a href="/sobre">Sobre</a>
                    </li>
                    <li>
                        <a href="/contato">Contato</a>
                    </li>
                </ul>
            </nav>
        </header>