<?php
/*
 * @var $app Codando\App
 * @var $this Codando\System\Template
 */

$q = input()->_toGet("q", "xss%s");

$this->display('header', array('menuCurrent' => 'noticia'));

?>

<section id="noticia-list">
    <div class="bg-pagina">
        <div class="container">
            <div class="titulo-paginas">NOTÍCIAS</div>
            <span class="subtitulo-paginas">Confira as últimas notícias relacionadas a Famiglia Valduga</span>
            <form class="formulario" action="/noticias">
                <input type="text" placeholder="BUSCAR" value="<?= $q; ?>" class="texto">
                <button class="bg-azulescuro-azulclaro" type="submit"><i></i></button>
            </form>
        </div>
    </div>
    <div class="container">
        <ul class="lista clearfix">
            <?php
             
            $count = 0;

            /* @var $noticiaTemp \Codando\Modulo\Noticia */
            foreach ($noticiaList as $noticiaTemp) {
                
                $class = "";
                
                $not_url = $noticiaTemp->getUrl();

                $arquivoTemp = is_instanceofOrNew("Codando\Modulo\Arquivo", $noticiaTemp->getArquivo());

                if(++$count == 4){
                    $count = 0;
                    $class = "ultimo";
                }
                
                ?>
            
                <li class="<?= $class; ?>">
                    <a href="<?= $not_url; ?>" class="link">
                        <div class="efeito"><span></span><div><i>+</i><span>LEIA</span></div></div>
                        <img src="<?= $arquivoTemp->getImage(277,179,'crop'); ?>" alt="<?= $noticiaTemp->getTitulo(); ?>"/>
                        <div class="data">
                            <i></i>
                            <span><?= $noticiaTemp->getData("d.m.Y"); ?></span>
                        </div>
                        <div class="titulo"><?= $noticiaTemp->getTitulo(); ?></div>
                    </a>
                </li>
            
                <? } ?>

        </ul>
        <?= $paginacao; ?>
        <div class="barras">
            <span class="amarela"></span>
            <span class="azul-1"></span>
            <span class="azul-2"></span>
        </div>
    </div>
</section>


<?
$this->display('footer', array('menuCurrent' => 'noticia'));
