<?php
/*
 * @var $app Codando\App
 * @var $this Codando\System\Template
 * @var $noticia Codando\Modulo\Noticia
 */


/* @var $imagemTemp Codando\Modulo\Arquivo  */
$imagemTemp = is_instanceof('Codando\Modulo\Arquivo', $noticia->getArquivo()) ? $noticia->getArquivo() : NULL;

/* @var $noticia \Codando\Modulo\Noticia  */
$noticia;

$countImg = count($noticia->getArquivoList());

$this->display('header', array('menuCurrent' => 'noticia'));
?>

<section id="noticia-view">
    <div class="bg-pagina">
        <div class="container">
            <div class="titulo-paginas">NOTÍCIAS</div>
            <span class="subtitulo-paginas">Confira as últimas notícias relacionadas a Famiglia Valduga</span>
            <form action="/noticias" class="formulario">
                <input type="text" placeholder="BUSCAR" value="" class="texto" required>
                <button class="bg-azulescuro-azulclaro" type="submit"><i></i></button>
            </form>
        </div>
    </div>
    <div class="container">
        <div class="data"><i></i> <?= $noticia->getData("d.m.Y"); ?></div>
        <div class="titulo"><?= $noticia->getTitulo(); ?></div>
        <? if ($noticia->getAutor() != NULL) { ?>
            <div class="autor">Autor: <?= $noticia->getAutor(); ?></div>
        <? } ?>
        <? if ($noticia->getFonte() != NULL) { ?>
        <div class="fonte">Fonte: <?= $noticia->getFonte(); ?></div>
        <? } ?>
        <div class="clearfix"></div>
        <div class="span-5" data-controller="player">
            <div class="lista" data-list>

                <?php
                /* @var $arquivoTemp \Codando\Modulo\Arquivo */
                foreach ($noticia->getArquivoList() as $arquivoTemp) {
                    ?>
                    <a href="<?= $arquivoTemp->getImage(); ?>" class="item" data-rel="fancybox-galeria-noticia-1" data-item>
                        <img src="<?= $arquivoTemp->getImage(481,313,'crop'); ?>" alt="<?= $arquivoTemp->getLegenda(); ?>"/>
                    </a>
                <? } ?>
            </div>
            <div class="controle">
                <span><?= $countImg; ?> Foto(s)</span>
                <div>
                    <? if($countImg > 1){ ?>
                    <a class="prev bg-azulescuro-azulclaro" data-prev><i></i></a>
                    <a class="next bg-azulescuro-azulclaro" data-next><i></i></a>
                    <? } ?>
                </div>
            </div>
        </div>
        <div class="texto"><?= $noticia->getTexto(); ?></div>
        <div class="paginacao-pagina">
            <a href="/noticias" class="btn-voltar">
                <div><i></i></div>
                <span>VOLTAR</span>
            </a>
        </div>
        <div class="barras">
            <span class="amarela"></span>
            <span class="azul-1"></span>
            <span class="azul-2"></span>
        </div>
    </div>
</section>

<?php
$this->display('footer', array('menuCurrent' => 'noticia'));
