<?php
/*
 * @var $app Codando\App
 * @var $this Codando\System\Template
 */
?>
<div class="paginador-posts" itemscope itemtype="http://schema.org/SiteNavigationElement/Pagination">
    <div class="itens-paginador">
    <?php
    if ($pagnum > 1) {

        $prev_url = paginaUrl($baseUrl, 'p', ($pagnum - 1));

        meta()->setLink('prev', COD_URL . $prev_url);
        ?>
        <a class="item-paginador voltar" itemprop="url" href="<?= $prev_url; ?>" title="Anterior">›</a>
    <?php } ?>
        
    <?php
        for ($i = ($pagnum + 1); $i < ($pagnum + $numMaxShowPag); $i++) {

            $i_url = paginaUrl($baseUrl, 'p', $i);

            if ($i > $numPages) {
                break;
            }
    ?>
        <a <?= $pagnum == $i ? ' class="active item-paginador"' : ' class="item-paginador"' ?> href="<?= $i_url ?>" itemprop="url"><?= $i ?></a>
    <?php } ?>
    
    <?php
        
    if ($pagnum < $numPages) {

        $next_url = paginaUrl($baseUrl, 'p', ($pagnum + 1));

        meta()->setLink('next', COD_URL . $next_url);
        ?>
        <a class="item-paginador proximo" href="<?= $next_url; ?>" itemprop="url" title="Próximo">›</a>
    <?php } ?>
    </div>  
</div>
