<?php
/*
 * @var $app Codando\App
 * @var $this Codando\System\Template
 * @var $pagina Codando\Modulo\Pagina
 */


/* @var $imagemTemp Codando\Modulo\Arquivo  */
$imagemTemp = is_instanceof('Codando\Modulo\Arquivo', $pagina->getArquivo()) ? $pagina->getArquivo() : NULL;

/* @var $pagina Codando\Modulo\Pagina  */
$pagina;

If ($imagemTemp != NULL) {
    meta()->setMeta('og:image', $config['url'] . $imagemTemp->getImage(750, 750));
}

$countImg = count($pagina->getArquivoList());

$this->display('header', array('menuCurrent' => 'empresa'));
?>
<section id="pagina-conteudo">
    <div class="container">
        <ul class="breadcrumb">
            <li  class="breadcrumb-li">
                <a href="/">Início</a>
            </li>
            <li class="breadcrumb-li"><?= $pagina->getTitulo() ?></li>
        </ul>
        <h2 class="titulo-paginas"><?= $pagina->getTitulo() ?></h2>
        <? if($countImg > 0){ ?>
        <div class="span-4">
            <div class="player clearfix" data-controller="player">
                <div class="altura" data-list>
                    <?php
                    
                    /* @var $arquivoTemp \Codando\Modulo\Arquivo */
                    foreach ($pagina->getArquivoList() as $arquivoTemp) {
                    ?>
                    <a href="<?= $arquivoTemp->getImage(); ?>" class="link-player-sobre fancybox" data-item><img class="img-player-sobre" src="<?= $arquivoTemp->getImage(); ?>" alt=""/> </a>
                    <? } ?>
                </div>
                <a href="/" class="link-voltar hover-principal"> VOLTAR </a>
                <div class="paginacao">
                    <a class="anterior" data-prev> <i class="icone"></i> </a>
                    <div class="centro"></div>
                    
                    <a class="proximo" data-next> <i class="icone"></i> </a>
                </div>
            </div>
        </div>
        <? } ?>
        <div class="span-<?= ($countImg > 0) ? 8:12 ?>">
            <div class="texto" style="margin-bottom: 15px" ><?= $pagina->getTexto(); ?></div>
        </div>
    </div>
</section>

<?php
$this->display('footer', array(''));
